body {
    background-image: url(../images/nycbg.jpg);
    background-attachment: fixed;
    color: #ffffff;
}

.title {
    float: right;
    background-color: #000;
    color: greenyellow;
    padding: 0px 10px;
}

.fightersSection {
    clear: both;
}

.fighter-card {
    background-color: gray;
    color: white;
    float: left;
    font-size: 1.5em;
    line-height: 20px;
    margin: 0 10px;
    padding: 15px 10px 15px 10px;
    text-align: center;
    width: 160px;
    height: 170px;
}

.fighter {
    display: inline;
    margin: auto;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.defenderArea {
    padding: 10px;
}

#attackBtn {
    background-color: #000000;
    color: red;
}

#restartBtn {
    background-color: #000000;
}

.log {
    max-width: 50%;
    background-color: #000;
    color: green;
    float: right;
    font-size: 1.2em;
    padding: 5px;
    position: relative;
    top: -150px;
}